.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__group-name 
        test
      .RightHeader__member-list 
        Member:masa
    = link_to "#", class: "RightHeader__edit-button" do
      Edit
  .MessageField 
    .MessageBox
      .MessageInfo
        .MessageInfo__user-name
          masa
        .MessageInfo__date
          2019/11/20(Wed) 17:43:01
      .Message
        .Message__content
        おはよう！
    .MessageBox
      .MessageInfo
        .MessageInfo__user-name
          masa
        .MessageInfo__date 
          2019/11/20(Wed) 17:43:34
      .Message
        .Message__content
        今日は夜から雨
  .Footer
    .Form
      .Form__content  
        %input{type: :text, class: "Form__input", placeholder: "type a message"}
        %label{class: "Form__image"} 
          = icon('far', 'image', class: "Form__icon")
          %input{type: "file",  class: "Form__hidden"}
      %input{type: :submit, value: "Send", class: "Form__submit"}