.ChatMain 
  .GroupInfo
    .GroupInfo__group
      .GroupInfo__group-name 
        test
      .GroupInfo__member-list 
        Member:masa
    = link_to "#", class: "GroupInfo__edit-button" do
      Edit
  .ChatMain__message
    .ChatMain__message-box
      .ChatMain__message-info
        .ChatMain__message-name 
          masa
        .ChatMain__message-time 
          2019/11/20(Wed) 17:43:01
      .Message
        .Message__content
        おはよう！
    .ChatMain__message-box
      .ChatMain__message-info
        .ChatMain__message-name 
          masa
        .ChatMain__message-time 
          2019/11/20(Wed) 17:43:34
      .Message
        .Message__content
        今日は夜から雨
  .ChatMain__message-form
    .ChatMain__form
      .ChatMain__type-message  
        %input{type: :text, class: "ChatMain__input", placeholder: "type a message"}
        %label{class: "ChatMain__image"} 
          = icon('far', 'image', class: "Form__icon")
          %input{type: "file",  class: "Form__hidden"}
      %input{type: :submit, value: "Send", class: "Form__submit"}