.SideBar
  .LeftHeader
    .LeftHeader__list
      .LeftHeader__username 
        masa
      .LeftHeader__iconlist 
        = icon('fas', 'edit', class: "LeftHeader__lefticon")
        = icon('fas', 'cog', class: "LeftHeader__righticon")
  .GroupList
    .GroupList__group
      .GroupList__group-name 
        techcamp
      .GroupList__group-message 
        まだメッセージがありません
