.SideBar
  .UserName
    .UserName__items
      .UserName__name 
        masa
      .UserName__iconlist 
        .UserName__lefticon 
          <i class='far fa-edit'></i> 
        .UserName__righticon 
          <i class="fas fa-cog"></i>
  .SideBar__group-list
    .SideBar__group
      .SideBar__group-name 
        techcamp
      .SideBar__group-message 
        まだメッセージがありません
