.SideBar
  .LeftHeader
    .LeftHeader__list
      .LeftHeader__username 
        masa
      .LeftHeader__iconlist 
        = link_to "#", class: "LeftHeader__lefticon" do
          <i class="fas fa-cog"></i>
        = link_to "#", class: "LeftHeader__righticon" do
          <i class="fas fa-edit"></i>
  .GroupList
    .GroupList__group
      .GroupList__group-name 
        techcamp
      .GroupList__group-message 
        まだメッセージがありません
